:root  {
        /** colors **/
        --primary-color: #FFEDD9;
        --font-color: #303030;
        --hover-text: #0E3A52ff;
        --light-blue-color: #C6D7DDff;
        --offWhite-color: #F7F6F3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
main,
footer {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--offWhite-color);
}

header,
footer {
    background-color: var(--light-blue-color);
    padding: 2.5rem;
}

.headerContent {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 900px;
}

main {
    display: grid;
    margin: 3rem 0;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}


.week {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 3.5rem 0;
}

h2,
h4 {
    margin: 2rem 0;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}


img {
    width: min(85vw, 300px);
}

li {
    list-style-type: none;
    padding: .5rem .5rem .5rem 1.75rem;
}

h1,
h2,
p {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    margin: 1rem auto;
}

h2,
h3 {
    color: var(--hover-text);
}
 
a {
    cursor: pointer;
    transition: font-size 0.5s ease;
}

a,
#last-updated {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--font-color);
    font-weight: 400;
}

a:hover {
    color: var(--hover-text);
    font-size: 1.26rem;
}
