/*** GENERAL CONTENT ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
li,
a,
#last-updated {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}
 
p,
a,
#last-updated {
    font-size: 18px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}


li {
    font-size : 20px;
}

body {
    background-color: #C6D7DDff;
    /*#98c1d9*/
}


.contain-offWhite {
    background-color: #F7F6F3ff;
}