:root {

    /** fonts **/
    --font-headline: 'Oxygen', Arial, sans-serif;
    --font-body: 'Open Sans', sans-serif;

    /** font sizes **/
    --font-base: 18px;
    --smallest-font: clamp(0.7rem, 0.40769rem + 1.2307vw, 1.1rem);
    --small-font: clamp(0.9rem, 0.60769rem + 1.230769vw, 1.3rem);
    --medium-font: clamp(1.1rem, 0.80769rem + 1.23076vw, 1.5rem);
    --large-font: clamp(1.4rem, 1.10769rem + 1.230769vw, 1.8rem);
    --largest-font: clamp(1.7rem, 1.40769rem + 1.230769vw, 2.1rem);

    /** colors **/
    --primary-color: #FFEDD9;
    --secondary-color: #4F7E51;
    --tertiary-color: #845A4B;
    --accent-color: #5e0202; 
    --font-color: #303030;
    --hover-color: rgba(79, 126, 81, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** assign font properties **/
h1,
h2,
h3,
.exploreParks{
    font-family: var(--font-headline);
}

h1,
.exploreParks {
    font-size: var(--largest-font);
    font-weight: 700;
}

h2 {
    font-size: var(--large-font);
}

header,
select,
.locationFilterOption,
.location,
.parkResult-learnMore {
    font-size: var(--medium-font);
}
 

/** assign color properties **/

.banner-green li a,
.sortBar {
    color: var(--primary-color);
}

h2,
a,
#parkDetails-name {
    color: var(--accent-color);
}

.banner-green {
    background-color: var(--secondary-color);   
}

.sortBar {
    background-color: var(--font-color);
}

/** primary elements **/
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    text-align: center;
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--font-color);
    background-color: var(--primary-color);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/** margins and padding **/
h1,
h2,
header > picture {
    margin: 1rem;
}

.primaryNav {
    margin: 3rem auto;
}

.locationFilter {
    padding: 1.25rem .25rem;
}
.locationFilterOption {
    margin: 0.75rem 0;
}

.parkResults,
.parkResults li * {
    margin: 2rem auto;
}

.parkResults li {
    margin: 5rem auto;
}

.banner-green li {
    padding: 1rem;
}

 
/** green banner in header and footer **/
.banner-green,
.sortBar {
    width: 100%;
    padding: 0.5rem;
}

.primaryNav {
    display: flex;
    justify-content: space-evenly;
}

/** index.html content layout **/
.homePage h1 {
    grid-area: title;
}

.homePage .sortResults {
    grid-area: sortResults;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage .parkResults {
    grid-area: results;
}

.homePage {
    display: grid;
    margin: 3rem auto;
    gap: 3rem;
    grid-template-areas:
    "title"
    "sortResults"
    "results";
}

/** index.html content **/
.homePage,
.parkResults,
.park-img {
    width: max(85vw, 300px);
}

.hide {
    display: none;
}
 
.sortBar {
    padding: 0.75rem 0.15rem;
    text-align: center;
}

.sortBar,
.locationBox {
    cursor: pointer;
}

.locationFilter {
    overflow-y: scroll;
    height: 25vh;
    text-align: start;
}

.parkResults * {
    transition: all .35s ease;
}
 
.name {
    height: 5vh;
}

.parkResult:hover {
    transform: scale(1.05);
}
 
/** parkDetails.html content layout **/
#parkDetails-name {
    grid-area: pTitle;
}

#parkDetails-description {
    grid-area: pDescription;
}

#parkDetails-location {
    grid-area: pLocation;
}

.parkDetails picture {
    grid-area: pImage;
}

.parkDetails .operatingInfo {
    grid-area: pHours;
}

.parkDetails {
    display: grid;
    margin: 3rem auto;
    gap: 3rem;
    grid-template-areas:
    "pTitle"
    "pDescription"
    "pLocation"
    "pImage"
    "pHours";
}

/** parkDetails.html content **/