@media screen and (min-width: 1200px) {
    
    .homePage,
    .parkResults {
        width: min(95vw, 1300px);
    }
    .parkResult,
    .parkResult-img {
        width: clamp(350px, 40vw, 550px);
    }

    .parkResults {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start; 
        gap: 4rem;
    }
 
}