@media screen and (min-width: 600px) {
    
    header {
        justify-content: start;
    }

    header .div-img,
    header .exploreParks {
        margin: 2.75rem 0;
    }

    header .div-img {
        margin-left: 2rem;
    }

    main h1 {
        margin-top: 2.75rem;
    }

    main,
    .parkResults,
    .parkResult-img {
        width: min(80vw, 850px);
    }

    .sortBar {
        width: min(80vw, 650px);
    }
}